
.VideoContainer{
   width: 30%; 
   
}


.VideoThumbnail {
  /* border: 20px solid black;
  border-radius: 5px;
  margin: 10px; */
}


.VideoThumbnail.video-1 {
  
  position: absolute;
  top: 100px;
  left: 75px;
  
}


.VideoThumbnail.video-2 {
 
    position: absolute;
  top: 325px;
  left: 75px;
  
  
}


.VideoThumbnail.video-3 {
  position: absolute;
  top: 100px;
  left: 450px;
  
  
}


.VideoThumbnail.video-4 {
  position: absolute;
  top: 325px;
  left: 450px;
  
 
}
