@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,600;0,700;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;0,700;1,600;1,700&display=swap");

* {
  font-family: "Inter", "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
.back_image {
  background-image: url('../profile/assets/ArchProfile.jpg');
  background-size: cover;
  width: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  opacity: 1;
}

.dp_info {
  position: absolute;
  right: 125px;
  left: 750px;
  top: 75px;
}
.hi-text {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.im-text {
  font-size: 16px;
  color: black;
  font-weight: bold;
  font-size: 30px;
}
.profession-text {
  color: blue;
  font-weight: bold;
  font-size: 40px;
}

.info-text {
  font-size: 16px;
  color: black;
}

.about_button {
  background-color: #4caf50; /* Green background color */
  border: none; /* Remove border */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding around text */
  text-align: center; /* Center text horizontally */
  text-decoration: none; /* Remove underlines */
  display: inline-block; /* Display as inline block */
  font-size: 16px; /* Font size */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
  margin-top: 20px;
  margin-right: 20px;
  
}
.about_button:hover {
  background-color: #255c28; /* Darker green background color */
}

.project_button {
  background-color: #4caf50; /* Green background color */
  border: none; /* Remove border */
  color: white; /* Text color */
  padding: 10px 20px; /* Padding around text */
  text-align: center; /* Center text horizontally */
  text-decoration: none; /* Remove underlines */
  display: inline-block; /* Display as inline block */
  font-size: 16px; /* Font size */
  border-radius: 10px; /* Rounded corners */
  cursor: pointer; /* Show pointer cursor on hover */
}

.project_button:hover {
  background-color: #255c28; /* Darker green background color */
}
