@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,600;0,700;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;0,700;1,600;1,700&display=swap');
*{
    font-family: 'Inter','Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.nav__button__style_fill{
    color: #002147;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid #c0c0c0;
    /* border: none; */
    padding: 10px 20px;
    /* margin-top: 20px; */
    background: #c0c0c0;
    width: 140px;
}

/* .nav__button__style_outline a{
    text-decoration: none;
    color: aliceblue;
} */

.nav__button__style_fill:hover{
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    
}

a:hover{
    cursor: pointer;
    /* background-color: #c0c0c0; */
    color: aliceblue;
    
}

.scale:hover{
    scale: 0.9;
    transition: 1s;

}