.contact__infor__container{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    color: #c0c0c0;
    box-shadow: 6px 6px 10px  #c0c0c040;

}

.icon{
    padding: 6%;
}
@media screen and (max-width:1000px) {
    .contact__infor__container{
        
        width:90%;
        height: 100px;
    
    }

    
}