@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,600;0,700;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;0,700;1,600;1,700&display=swap");
* {
  font-family: "Inter", "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* .footer__container{
    bottom: 0;
} */
.footer__container {
  width: 100vw;
  z-index: 999;
  position: fixed;
  font-weight: 600;
  color: aliceblue;
  bottom: 0;
  margin: 0;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__container p {
  color: aliceblue;
  padding-right: 5%;
  padding-left: 4%;
  /* text-shadow: 0px 2px 4px #000000 ; */
}
@media screen and (max-width: 1000px) {
  .footer__container {
    display: none;
  }
}
