.footer {
    background-color: #490000;
    padding: 40px 0;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .footer-section {
    flex: 1;
    padding: 0 20px 0 20px;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    margin: 0;
    text-align: justify;
  }
  
  .social-media-icons a {
    /* color: #333; */
    margin-right: 10px;
    font-size: 16px;
    text-decoration: none;
    /* font */
  }

  .social-media-icons a:hover {
    font-size: 120%;
    transition: 0.4s;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    
  }
  
  .footer-bottom p {
    margin: 0;
    font-size: 14px;
    display: none;
  }
  .quick__links__footer{
    display: flex;
    color: #c0c0c0;
    text-decoration: none;
    justify-content: space-between;
  }

  @media screen and (max-width:1000px) {
    .footer-bottom p {
      display: block;
      padding-left: 16px;
      padding-right: 16px;
      
    }
    .footer-content{
      display: block;
    }
    .footer-content{
      padding-bottom: 20px;
    }
    .quick__links__footer{
      display: block;
    }


    
  }
  