*{
    font-family: "Plus Jakarta Sans",sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body_notifi{
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
   /* background-color:#eff4fa;
   /* z-index: -1;*/
    position: absolute;
    top: 0;
    left: 30%;
    overflow: auto;
    padding: 0;
    margin: 0;
}
.container_notifi{
    margin:2rem;
    width: 700px;
    background-color: #f2f8fa;
    padding: 1.5rem 1rem;
    border-radius: .5rem;
}
.header_notifi{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.notif_box{
    display: flex;
    align-items: center;
}
#notifications{
    background-color: #0a317b;
    margin-left: .5rem;
    width:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: #ffffff;
    font-weight: 800;
    border-radius: .5rem;
}
#mark_all{
    cursor: pointer;
}
.p_notifi{
    color: #5e6778;

}
.main_notifi{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.notif_card{
    display:flex;
    align-items:center;
    border-radius: .5rem;
    padding: 1rem;
}
.img_notifi{
    width: 45px;
    height: 45px;
    border-radius: 100px;
}
.description_notifi{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
strong{
    color:hsl(224, 21%, 14%);
    cursor: pointer;
}
strong:hover{
    color:#0a317b
}
.unread{
    background-color: #e5effa !important;
}


.unread p:first-of-type::after{
    content: "";
    background-color: #f65351;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
}
.message_card_notifi{
    display: flex;
    align-items: center;
}
.message_notifi{
    padding: 1rem;
    border:1px solid #dde7ee;
    border-radius: .3rem;
    cursor: pointer;
    margin: 0 0 0 5rem;
}
.message_notifi:hover{
    background-color: #e5effa;
}
.chess_img{
    margin-left: auto;
}

@media screen and (max-width:550px) {
    .container{
        margin: 0;
    }
}

.pr{
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
   /* background-color:#eff4fa;
   /* z-index: -1;*/
    position: absolute;
    top: 0;
    left: 30%;
    overflow: auto;
    padding: 0;
    margin: 0;
}
.containerl{
    margin:2rem;
    width: 700px;
    background-color: #f2f8fa;
    padding: 1.5rem 1rem;
    border-radius: .5rem;
}
.headerp{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.notific_box{
    display: flex;
    align-items: center;
}
#notificationsk{
    background-color: #0a317b;
    margin-left: .5rem;
    width:35px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    color: #ffffff;
    font-weight: 800;
    border-radius: .5rem;
}
#marke_all{
    cursor: pointer;
}
.pol{
    color: #5e6778;

}
.mains{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.notifi_card{
    display:flex;
    align-items:center;
    border-radius: .5rem;
    padding: 1rem;
}
.imgl{
    width: 45px;
    height: 45px;
    border-radius: 100px;
}
.descriptions{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.strongs{
    color:hsl(224, 21%, 14%);
    cursor: pointer;
}
.descriptions1{
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.25rem + 4px);
    padding: 0.625rem 1.1875rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control-plaintext {
    display: block;
    width: 100%;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin-bottom: 0;
    line-height: 1.5;
    color: #373a3c;
    background-color: transparent;
    border: solid transparent;
    border-width: 2px 0;
}


