@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900& display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

:root{
    --bg-color :#1f242d;
    --second-bg-color: #323946;
    --text-color:#fff;
    --main-color:#0ef;

}
.headportfolio_a{
   background-color: var(--bg-color);
   color: var(--text-color);
   height: 100vh;
   
 }
.portfolio_a header{
    font-size:62.5%;
    overflow: hidden;
    
 }
 
.portfolio_a section{
    height :100vh;
    padding: 10rem 9% 2rem;
 }

 .portfolio_a span{
    color:var(--main-color);
 }

 h2.heading_a{
    text-align: center;
    font-size: 4.5rem;  
 }

.portfolio_a h2{
    margin-bottom: 5rem; 
}

.portfolio_a{
    background-color: var(--bg-color);
}

.portfolio_a{
    margin-bottom: 4rem;
}

.portfolio-container_a{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    align-items: center;
    justify-content: center;
    gap: 2.5rem; 
    margin-left: 2%;
}

.portfolio-container_a .portfolio-box_a{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    width: 90%;

}

.portfolio-container_a .portfolio-box_a:hover{
    box-shadow: 0 0 1rem gray;
}

.portfolio_a img{
    width: 100%;
    height: 250px;
}

.portfolio-box_a img{
    width: 100%;
    transition: .5s ease;   
}

.portfolio-box_a:hover img{
    transform: scale(1.1);
}


.portfolio-box_a .portfolio-layer_a{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform:translateY(100%);
    transition: .5s;

}
.portfolio-box_a:hover .portfolio-layer_a{
    transform:translateY(0);

}

.portfolio-layer_a h4{
    font-size: 1.5rem;
}

.portfolio-layer_a p{
    font-size:0.9rem ;
    margin: .2rem 0 1rem;
}
.portfolio-layer_a a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.portfolio-layer_a a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}


@media screen and (max-width: 900px){
    .portfolio-layer_a p{
        color: transparent;
    }
    .portfolio-layer_a h4{
        font-size: 1.5rem;
        justify-content: center;
        
    }
}