/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900& display=swap'); */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,600;0,700;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;0,700;1,600;1,700&display=swap");

* {
  font-family: "Inter", "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

:root{
    --bg-color :#1f242d;
    --second-bg-color: #323946;
    --text-color:#fff;
    --main-color:#0ef;

}
.headportfolio_q{
   background-color: var(--bg-color);
   color: var(--text-color);
   height: 100vh;
   
 }
.portfolio_q header{
    font-size:62.5%;
    overflow: hidden;
    
 }
 
.portfolio_q section{
    height :100vh;
    padding: 10rem 9% 2rem;
 }

 .portfolio_q span{
    color:var(--main-color);
 }

 h2.heading_q{
    text-align: center;
    font-size: 4.5rem;  
 }

.portfolio_q h2{
    margin-bottom: 5rem; 
}

.portfolio_q{
    background-color: var(--bg-color);
}

.portfolio_q{
    margin-bottom: 4rem;
}

.portfolio-container_q{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    align-items: center;
    justify-content: center;
    gap: 2.5rem; 
    margin-left: 2%;
}

.portfolio-container_q .portfolio-box_q{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
    width: 90%;

}

.portfolio-container_q .portfolio-box_q:hover{
    box-shadow: 0 0 1rem gray;
}

.portfolio_q img{
    width: 100%;
    height: 250px;
}

.portfolio-box_q img{
    width: 100%;
    transition: .5s ease;   
}

.portfolio-box_q:hover img{
    transform: scale(1.1);
}


.portfolio-box_q .portfolio-layer_q{
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform:translateY(100%);
    transition: .5s;

}
.portfolio-box_q:hover .portfolio-layer_q{
    transform:translateY(0);

}

.portfolio-layer_q h4{
    font-size: 1.5rem;
}

.portfolio-layer_q p{
    font-size:0.9rem ;
    margin: .2rem 0 1rem;
}
.portfolio-layer_q a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}
.portfolio-layer_q a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}


@media screen and (max-width: 900px){
    .portfolio-layer_q p{
        color: transparent;
    }
    .portfolio-layer_q h4{
        font-size: 1.5rem;
        justify-content: center;
        
    }
}